<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#DB0000"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="manifest" href="./app.webmanifest">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo&family=Inter:wght@100&family=Montserrat:wght@700&display=swap" rel="stylesheet">


    <link rel="icon" href="./images/logo/logo EB.png">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    
    <title>Easy Borrow</title>
</head>
<body>
    
    <header>
        <div class="header">
            <button id="skip-toContent">Skip to content</button>
            <img src="./images/logo/logo EB.png">
            <h1 class="header_title">EasyBorrow</h1>
        </div>
        <button id="menu">☰</button>

        <nav id="drawer" class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#/home">Home</a></li>
                <li class="nav__item"><a href="#/pinjam">Pinjam</a>
                </li>
                <li class="nav__item"><a href="#/favorit">Favorit</a></li>
                <!-- <li class="nav__item"><a href=" " target="_blank">Lainnya</a></li> -->
                <li class="nav__item"><button class="login-button">Login</button></li>
            </ul>
        </nav>
    </header>

    <main id="mainContent"></main>
    <footer>
        Copyright © 2023 - Easy Borrow. All rights reserved
    </footer>
</body>
</html>

